<%- include("header") -%>
    <div class="about">
        <h2>This is the about page</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non imperdiet metus. Proin varius scelerisque commodo. Praesent scelerisque porta luctus. Nam eget felis in augue iaculis tincidunt sit amet feugiat sem. Etiam placerat magna justo,
            convallis dignissim libero placerat id. Mauris egestas eu eros commodo convallis. Donec ornare eget lorem ut venenatis. Phasellus augue nulla, sollicitudin in sagittis vitae, feugiat a purus. Curabitur sed malesuada ligula. Nulla ligula purus,
            luctus ut felis a, ullamcorper euismod erat.</p>
    </div>

    <%- include("footer") -%>